$black: rgb(37, 27, 27);
$blue: #1e416e;
$light: rgba(245, 241, 234, 0.52);

.entry-content .wp-block-first-blocks-menu,
.wp-block-first-blocks-menu {

    background: $light;
    border: solid;
    padding: 1rem;

    div.title {
        color: $black;
        font-weight: 600;
        font-size: 50px;
    }

    .container {
        height: 100%;

        .col {
            float: left;
            min-height: 150px;
            width: 50%;
            display: table;
            padding: 10px;
            border-bottom: 2px dotted;

            .item-details {
                height: 100%;
                display: table-cell;

                .item-name {
                    font-size: 25px;
                    font-weight: 500;
                }
            }

            .item-price {
                display: table-cell;
                width: 15%;
                height: 100%;
            }

        }
    }

    .container:after {
        content: "";
        display: table;
        clear: both;
    }
}